<div class="row">
    <div class="four columns">
        <h4>Who am I?</h4>
        <p>
            I'm a developer from Gothenburg, Sweden  who likes to work with all kinds of web related project.
            I started working as a developer in 2000 and still love what I do. I always seek to learn and share knowledge about the latest technologies and methods that can improve my daily work as a developer. My work is not only my profession, it is a passion!<br><br>
            Check out my <a href="https://twitter.com/mmo_80" target="_blank">Twitter</a> to get an insight of what kind of tech and dev related topics I like to read about. Or just send me a message using my <a href="#contactme">contact form below</a>.
        </p>

        <strong>Suitable roles:</strong>
        <ul>
            <li>Lead/Senior Developer</li>
            <li>Full Stack Developer</li>
        </ul>

        <strong>Check out my:</strong><br>
        <p>
            <a href="https://twitter.com/mmo_80" target="_blank">Twitter</a>,
            <a href="https://github.com/mmo80" target="_blank">Github</a>,
            <a href="http://se.linkedin.com/in/mmo80" target="_blank">LinkedIn</a>,
            <a href="http://codepen.io/mime" target="_blank">CodePen</a>
        </p>
    </div>
    <div class="four columns">
        <strong>Projects:</strong>
        <div class="block-wrapper">
            <div class="block">
                <input id="bl6" name="bl6" type="checkbox" />
                <label for="bl6">Västtrafik</label>
                <div class="block-content">
                    Full Stack Developer working with Västtrafik public websites.<br>
                    <br>
                    <strong>Period</strong>: May 2018 - Ongoing<br>
                    <br>
                    <strong>Roles</strong>: Senior/Full Stack Developer.<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, WebApi, MVC, Vue, CSS/SCSS, NUnit, CMS...<br>
                    <br>
                    <strong>Enviroment/hosting</strong>: Visual Studio, Elasticsearch, SQL Server.<br>
                    <br>
                    <strong>Url</strong>: <a href="https://www.vasttrafik.se" target="_blank">Västtrafik</a><br>
                    <br>
                </div>
            </div>

            <div class="block">
                <input id="bl5" name="bl5" type="checkbox" />
                <label for="bl5">Collector Bank</label>
                <div class="block-content">
                    Developed a new savings application that handles peoples & companys savings account, calculates interestrate and taxes, accounting, inbound and outbound cash flow.<br>
                    <br>
                    <strong>Period</strong>: Apr 2016 - July 2017<br>
                    <br>
                    <strong>Roles</strong>: Senior/Full Stack Developer.<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, DDD, Event Sourcing, CQRS, SignalR, WebApi, MVC, AngularJS, jQuery, NUnit...<br>
                    <br>
                    <strong>Enviroment/hosting</strong>: Visual Studio, Azure (Service Bus, Web Jobs, Storage, AD authentication...), EventStore, Elasticsearch.<br>
                    <br>
                    <strong>Url</strong>: <a href="https://www.collector.se" target="_blank">Collector Bank</a><br>
                    <br>
                </div>
            </div>

            <div class="block">
                <input id="bl1" name="bl1" type="checkbox" />
                <label for="bl1">Volvo Cars Sweden</label>
                <div class="block-content">
                    Architecture and development of a new web application for use internally and by Volvo dealers.<br>
                    <br>
                    The application is used for handling of texts and creating documents with version handling and setting prices and margins for all the car-models, options, packages, features, colors and upholsteries for the different cars. The application also handles authorization of users, Importing of car-data and Export.<br>
                    <br>
                    <strong>Period</strong>: Oct 2014 - Mar 2016<br>
                    <br>
                    <strong>Roles</strong>: Architect, Lead/Full Stack Developer, Projectmanager(partially).<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, MVC, AngularJS, RequireJS, jQuery, Entity Framework(ORM), HTML, CSS, Bootstrap, StructureMap, AutoMapper, NLog, ServiceStack...<br>
                    <br>
                    <strong>Enviroment/hosting</strong>: Visual Studio, SQL Server, IIS, Microsoft Server.<br>
                    <br>
                </div>
            </div>
            <div class="block">
                <input id="bl2" name="bl2" type="checkbox" />
                <label for="bl2">Bilia</label>
                <div class="block-content">
                    Worked with their public websites and intranet. Also developed a site for direct payment of new cars.<br>
                    <br>
                    <strong>Period</strong>: Feb 2010 - Mar 2014<br>
                    <br>
                    <strong>Roles</strong>: System Developer, Web Architect, Technical Supervisor.<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, EpiServer(CMS), T-SQL, jQuery, WCF, Entity Framework(ORM), HTML, CSS, Bootstrap, StructureMap, AutoMapper, NLog, Elmah, PayEx...<br>
                    <br>
                    <strong>Enviroment/hosting</strong>: Visual Studio, SQL Server, IIS, Microsoft Server.<br>
                    <br>
                </div>
            </div>
            <div class="block">
                <input id="bl3" name="bl3" type="checkbox" />
                <label for="bl3">Mölnlycke Healthcare</label>
                <div class="block-content">
                    Part of a team that developed two public brand sites and also worked with a global intranet site.<br>
                    <br>
                    <strong>Period</strong>: A few month in 2011<br>
                    <br>
                    <strong>Roles</strong>: System Developer.<br>
                    <br>
                    <strong>Technologies</strong>: C#, EpiServer, SQL Server, jQuery...<br>
                    <br>
                </div>
            </div>
            <div class="block">
                <input id="bl4" name="bl4" type="checkbox" />
                <label for="bl4">Manodo</label>
                <div class="block-content">
                    Advance Web applications for real estate owners. For managing and viewing all owned real estate consumption, cost for heat, electricity and water.<br>
                    <br>
                    <strong>Period</strong>: Feb 2002 - Feb 2010<br>
                    <br>
                    <strong>Roles</strong>: System Developer, Web Designer.<br>
                    <br>
                    <strong>Technologies</strong>: C#, SQL Server, Javascript, HTML, CSS...<br>
                    <br>
                    <strong>Customers</strong>: Göteborg Energi, Poseidon, Bostadsbolaget, Gårdstensbostäder, Familjebostäder m.m.<br>
                    <br>
                </div>
            </div>
        </div>

        <strong>Personal Projects</strong>
        <div class="block-wrapper">
            
            <div class="block">
                <input id="bla" name="bla" type="checkbox" />
                <label for="bla">Exero Api</label>
                <div class="block-content">
                    Simple API for logging your gym workout (sets, reps, weights). Mostly used for testing new technologies like Neo4j(Graph Database), ASP.NET Core 2, OAuth 2.0 with Auth0.<br>
                    <br>
                    <strong>Technologies</strong>: C#, ASP.NET Core 2, Neo4j, OAuth 2.0 with Auth0...<br>
                    <br>
                    Source code: <a href="https://github.com/mmo80/ExeroApi" target="_blank">Github</a>.<br>
                </div>
            </div>

            <div class="block">
                <input id="blb" name="blb" type="checkbox"/>
                <label for="blb">Training App</label>
                <div class="block-content">
                    Simple webbapp for logging your gym workout (sets, reps, weights). Mostly used for testing new technologies.<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, MongoDb, KnockoutJS/AngularJS, jQuery, HTML, CSS, Bootstrap, AutoMapper, NLog, Elmah...<br>
                    <br>
                    Demo page: <a href="http://dowork.forloop.se/" target="_blank">Training App</a>.<br>
                    <br>
                    Source code: <a href="https://github.com/mmo80/DoWorkGym" target="_blank">Github</a>.<br>
                </div>
            </div>

            <div class="block">
                <input id="blc" name="blc" type="checkbox"/>
                <label for="blc">Vegansök</label>
                <div class="block-content">
                    Simple site for searching for vegan-frendly products. Users can add products that are later approved by admin.<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, MongoDb, AngularJS, jQuery, HTML, CSS, Bootstrap...<br>
                    <br>
                    Go to <a href="http://www.vegansok.se/" target="_blank">Vegansök</a>.<br>
                    <br>
                </div>
            </div>

            <div class="block">
                <input id="bld" name="bld" type="checkbox"/>
                <label for="bld">Forloop</label>
                <div class="block-content">
                    This page! ;)<br>
                    <br>
                    <strong>Technologies</strong>: C#, .NET, jQuery, HTML, CSS, Gulp, SendGrid, Bower, npm...<br>
                    <br>
                    Source code: <a href="https://github.com/mmo80/forloop.se" target="_blank">Github</a>.<br>
                    <br>
                </div>
            </div>

        </div>

        <strong>Worked with:</strong><br>
        <p>
            C#, ASP.NET, MVC, CQRS, Event Sourcing, SignalR, Elasticsearch, Neo4j, JavaScript, Vue, Angular, jQuery, ASP.NET Web API, ServiceStack, HTML, CSS, SCSS, Bootstrap, Continuous Integration (CI),
            Dependency Injection (DI), Clean Code, Design Patterns, ORM, MongoDb, SEO, SQL, Entity Framework, NHibernate, Unit testing, Load Balancing, DVCS, WCF,
            KnockoutJS, AntiXSS, Facebook API, Google API, Mandrill, ImageResizer, RequireJS, Gulp, npm, Bower, TeamCity, Team Foundation Server, Bitbucket, Github, CMS...
        </p>

        <strong>Companies i worked for:</strong><br>
        <ul>
            <li><a href="https://www.evry.se" target="_blank">Evry Consulting</a> (Guide, EDB), 6 years</li>
            <li><a href="http://www.ktc.se" target="_blank">Manodo</a> (KTC), 8 years</li>
            <li><a href="https://en.wikipedia.org/wiki/I2_Technologies" target="_blank">i2 Technologies</a>, 1 year</li>
        </ul>
    </div>
    <div class="four columns">
        <!-- Twitter :: start -->
        <a class="twitter-timeline" href="https://twitter.com/mmo_80" data-widget-id="347409018878296065">Tweets by @@mmo_80</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        <!-- Twitter :: end -->

        <h2>What i read and listen to</h2>
        <strong>Blogs/Newsletters/Community:</strong>
        <ul>
            <li><a href="http://themorningbrew.net" target="_blank">The Morning Brew</a></li>
            <li><a href="http://www.codeproject.com/feature/mobile-newsletter" target="_blank">Code Project - The Mobile Newsletter</a></li>
            <li><a href="http://www.codeproject.com/feature/web-newsletter" target="_blank">Code Project - The Web Developer Newsletter</a></li>
            <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
        </ul>
        <strong>Podcasts:</strong>
        <ul>
            <li><a href="https://devchat.tv/adventures-in-angular" target="_blank">Adventures in Angular</a></li>
            <li><a href="https://gimletmedia.com/show/startup" target="_blank">StartUp</a></li>
            <li><a href="http://hanselminutes.com/" target="_blank">Hanselminutes</a></li>
            <li><a href="https://devchat.tv/freelancers" target="_blank">Freelancers Show</a></li>
        </ul>
    </div>
</div>

<div class="row" id="contactme">
    <div>
        <h2>Contact me</h2>
        <form id="contact_form">
            <div class="row">
                <div class="seven columns">
                    <label for="email">Your email</label>
                    <input class="u-full-width" type="email" placeholder="your@email.com" id="email">
                </div>
                <div class="five columns">

                </div>
            </div>
            <div class="row">
                <div class="seven columns">
                    <label for="msg">Message</label>
                    <textarea class="u-full-width" placeholder="Hi Miguel..." id="msg"></textarea>
                </div>
                <div class="five columns"></div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="row">
    <div class="bottom-center">Forloop AB</div>
</div>